Cython==0.29.28
numba==0.55.1
numpy==1.21.4
easydict==1.9
opencv-contrib-python==4.5.4.58
opencv-python==3.4.17.63
opencv-python-headless==4.5.5.64
tensorlayer==2.2.3
tensorflow==2.8.0
pycocotools==2.0.4
matplotlib==3.5.1
filterpy==1.4.5
imutils==0.5.4
urllib3==1.26.9
thop=0.0.31-2005241907